
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>JavaScript Learning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./public/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
  <nav class="navbar navbar-default nav-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span>
          <img src="https://o4a7cbihz.qnssl.com/picture/57140c0c-4ffa-4dde-9757-570b53f96796" alt="Brand">
          {{ courseInfo.title }}
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#heart-words">小伙伴们的心里话</a></li>
        <li><a href="#self-intro">我的介绍</a></li>
        <li><a href="#my-hw">我的作业</a></li>
        <li><a href="https://github.com/CaoZhens">我的GitHub</a></li>
      </ul>
    </div>
  </nav>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- 轮播（Carousel) -->
    <div class="carousel-inner">
        <div class="item item1 active" >
          <div class="carousel-caption caption1">
            <h1><a href="https://web.xinshengdaxue.com/home/lessons/details?course_id=40" style="color:#fff">{{ courseInfo.title }}</a></h1>
            <div>
              <img class="courseinfo-avatar" src="https://ws1.sinaimg.cn/large/006tKfTcgy1fi7s7vo8y0j30hs0hsaay.jpg" alt="">
              <div class="courseinfo">
                <p class="courseinfo-item"><span> {{ courseInfo.teacher }} </span></p>
                <p class="courseinfo-item"><span> {{ courseInfo.startTime }} - {{ courseInfo.endTime }} </span></p>
              </div>
            </div>
            <!-- <p style="font-color:black"></p> -->
            <a class="course-btn" data-toggle="modal" data-target="#myModal">老师我想对你说</a>
          </div>
        </div>
        <div class="item item2">
          <div class="carousel-caption github">
            <a class="github-btn" href="https://github.com/xugy0926/getting-started-with-javascript">
              <span class="glyphicon glyphicon-heart"></span>
              getting-started-with-javascript
            </a>
            <a class="github-btn" href="https://github.com/xugy0926/words-from-the-heart">
              <span class="glyphicon glyphicon-heart"></span>
              words-from-the-heart
            </a>
          </div>    
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  
  <!--定义一个模态框 -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">x</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">老师我想对你说</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name" class="control-label">姓名</label>
              <input v-model="name" type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="account" class="control-label">新大注册手机号or邮箱</label>
              <input v-model="account" type="text" id="account" class="form-control">
            </div>
            <div class="form-group">
              <label for="content" class="control-label">想对老师说的话</label>
              <textarea v-model="content" id="content" class="form-control" rows="3"></textarea>
            </div>
          </form>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" v-on:click="sendData">提交</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

  <div class="container">
    <div id="self-intro" class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">我的个人介绍</h3>
        </div>
        <div class="panel-body">
          <li>通信小硕，2013年毕业，目前在某运营商研究院工作，主业数据分析，近一年来正转型机器学习</li>
          <li>工具使用与开发经验包括：SPSS Modeler、SAS EG、Oracle、Impala等工具，Python（包括Scrapy爬虫、Pandas数据处理、sklearn机器学习）</li>
          <li>工作以来，一直偏重数据分析，希望借此课程好好学习JS相关技术</li>
        </div>
      </div>
    </div>

    <div id="my-hw" class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">我的学习记录</h3>
        </div>
        <div class="panel-body">
          <li class="list-group-item">
            <a href="https://github.com/xugy0926/getting-started-with-javascript/blob/master/homework/lesson1/caozhen.md">
              代码执行流程的类比
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://github.com/xugy0926/getting-started-with-javascript/blob/master/homework/lesson2/caozhen.md">
              编程中为什么会有丰富的数据格式
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://github.com/xugy0926/getting-started-with-javascript/blob/master/homework/lesson5/caozhen.md">
            函数的定义与使用
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://github.com/xugy0926/getting-started-with-javascript/blob/master/homework/lesson6/caozhen.md">
            提高代码兼容性与可读性的操作实践  
            </a>
          </li>
        </div>
      </div>
    </div>


    <div id="heart-words" class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">小伙伴们的心里话</h3>
        </div>
        <div class="panel-body">
          <div class="words-panel" v-for="item in wordsList">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object avatar" v-bind:src="item.avatar" alt="..">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{ item.name }}
                </h4>
                  {{ item.words }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
      <img class="avartar" src="http://opkslf6o7.bkt.clouddn.com/image/jpg/%E5%BE%AE%E4%BF%A1%E5%A4%B4%E5%83%8F.JPG">
      <p class="footer-text">Designed by
        <a href="https://github.com/CaoZhens" target="_blank">
          <span style="font-weight: bold">CaoZhen</span>
        </a>
        © 2017
      </p>
  </footer>

</div>
</body>

<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
    // vue官网： https://cn.vuejs.org/v2/guide/
    // 初始化Vue
    
    var app = new Vue({
      el: '#app',   // #app 和html中div#id的 app 对应
      data: {
        wordsList: [],  // 小伙伴们的心里话
        courseInfo: {} , // 课程基本信息
        name: '',
        account: '',
        content: ''
      },
      methods: {
        fetchCourseInfo:function() {
          axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/detail')
            .then(function (response) {
              app.courseInfo = response.data.courseInfo;
            })
            .catch(function (error) {
              console.log(error);
            })
        },
        fetchHeartWords: function() {
          axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
            .then(function (response) {
              app.wordsList = response.data.words;
            })
            .catch(function (error) {
              console.log(error);
            });
        },
  
        //对老师说点什么呢？
        sendData: function() {
          axios.post('https://js.xinshengdaxue.com/api/v1/learnJS/sayToMe',{
              name: app.name,
              account: app.account,
              content: app.content
            })
            .then(function (response) {
              if (response.data && response.data.code === 1) {
                alert('提交成功');
              } else if (response.data.code === 0) {
                alert(response.data.message);
              }
            })
            .catch(function (error) {
              console.log(alert);
            })
        }
      }
    });
    app.fetchHeartWords();
    app.fetchCourseInfo();
  </script>

  <script>
  $(function(){
    // 初始化轮播
    $("#myCarousel").carousel('cycle');
  });
  </script>

</html>


